* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f5b732;
}

.boardContainer {
    width: 210px;
    height: 210px;
    background-color: rgb(68, 67, 67);
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
    padding: 0;
    margin: 0;
    align-items: center;
    
}

li {
    color: rgb(36, 33, 33);
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    aspect-ratio: 1;
    background-color: #f5b732;
    font-size: 45px;
    text-align: center;
}

fieldset {
    height: 250px;
    width: 200px;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(32, 202, 151);
    border: 3px;
    border-radius: 25px;
    text-align: center;
}

fieldset input {
    border-radius: 6px;
    border: 2px solid rgb(72, 184, 228);
    margin: 4px;
}

fieldset input:focus {
    outline: none;
}

fieldset button {
    border-radius: 6px;
    background-color: cornsilk;
    padding: 5px;
    margin-top: 4px;
}

.hidden {
    visibility: hidden;
}

p {
    font-size: larger;
    text-align: center;
    margin-top: 44%;
}
    
.buttonContainer {
    display: grid;
    text-align: center;
    margin-top: 20%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.buttonContainer button {
    border-radius: 6px;
    background-color: cornsilk;
    border: 2px solid rgb(176, 180, 180)
}


